<script setup lang="ts">
import MenuView from "../components/MenuView.vue";
import OrderView from "../components/OrderView.vue";
</script>
<template>
  <div class="container">
    <v-app absolute full-height>
      <v-main class="bg-brown-lighten-4">
        <v-row>
          <v-col cols="7">
            <MenuView></MenuView>
          </v-col>
          <v-col cols="5">
            <OrderView></OrderView>
          </v-col>
        </v-row>
      </v-main>
    </v-app>
  </div>
</template>
<style>
.container {
  position: relative;
  height: 100vh;
}
</style>
